@import '../../../components/variables.css';

.container {
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.full {
  flex-grow: 1;
}

:global(.ant-form-inline .ant-form-item) {
  width: 100%;
}

.formTable {
  text-align: center;
  border: 1px solid #d9d9d9;
  border-top: none;
}

.formTableHrader {
  background: #fafafa;
  border-top: 1px solid #d9d9d9;
}

.formTableBody:hover {
  background: #f2f3f7;
}

.formDel {
  cursor: pointer;
}

.editableTable tr:hover td{
  background-color: var(--primary-light-color);
  transition: .2s;
}

.editableTable tr td{
  text-align: center;
  border-bottom: 1px solid #d9d9d9
}


.editableTable tr td:first-child{
  border-left: 1px solid #d9d9d9;
}

.editableTable tr td:last-child{
  border-right: 1px solid #d9d9d9;
}

